* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}

.container {
    margin-top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    text-align: center;
    border: solid 7px white;
}

h1 {
    margin: 10px;
    color: white;
}

.item {
    background-color: aliceblue;
}

.giveMeNum {
    width: 586px;
    height: 50px;
    font-size: 18px;
    background-color: aqua;
}

.zone2>button {
    margin: 10px 0px;
    width: 50px;
    height: 50px;
    font-size: 20px;
}

.plus {
    background-color: greenyellow;
}

.minus {
    background-color: rgb(255, 68, 68);
}

.multiply {
    background-color: beige;
}

.divide {
    background-color: violet;
}

.btnForRes {
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 50px;
    font-size: 25px;
    background-color: aliceblue;
}

.result {
    background-color: aliceblue;
    border: solid 5px aqua;
    color: white;
    font-size: 25px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
}

@media (max-width: 500px) {
    .container {
        margin-top: 100px;
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        text-align: center;
        border: solid 7px white;
    }

    h1 {
        margin: 10px;
        color: white;
        font-size: 20px;
    }

    .giveMeNum {
        width: 286px;
        height: 30px;
        font-size: 12px;
        background-color: aqua;
    }

    .zone2>button {
        margin: 10px 0px;
        width: 25px;
        height: 25px;
        font-size: 20px;
    }

    .btnForRes {
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height: 30px;
        font-size: 15px;
        background-color: aliceblue;
    }

    .result {
        background-color: aliceblue;
        border: solid 5px aqua;
        color: white;
        font-size: 15px;
        margin-bottom: 10px;
        margin-left: auto;
        margin-right: auto;
        width: 200px;
    }
    
}